.header {
    background-color: blueviolet;
    height: 40px;
    padding-top: 8px;
}

.header nav a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    height: 15px;
    font-weight: bold;


}

.header nav a:hover {
    color: white;
    background-color: brown;
}